<div class="container bg-gray-800 text-white">
  <div class="container flex-col justify-between items-center p-8">
    <h3 class="text-lg font-bold mb-4">Post #'<%=@posts.id %></h3>
    <p class="text-gray-300"><%=@posts.text%></p>
  </div>
  <ul>
    <% @posts.comments.includes(:user).order(created_at: :desc).each do |comment| %>
    <li class="bg-gray-700 p-4 rounded-lg mb-4">
      <p class="text-gray-300">Username: <%= comment.user.name %>, <%= comment.text %></p>
    </li>
    <% end %>
  </ul>
</div>